.Header {
  position: relative;
  display: flex;
  width: 100vw;
  color: grey;
  background-color: burlywood;
  margin: 0;
  margin-bottom: 25px;
}
.Navigation {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  padding-top: 20px;
  padding-bottom: 23px;
}
.NavLink {
  text-decoration: none;
  color: grey;
  font-size: 18px;
  font-weight: 500;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 22px;

  transition: color 250 ms cubic-bezier(0.4, 0, 0.2, 1);
}
.NavLink:hover,
.NavLink:focus {
  color: tomato;
}
.List {
  padding: 0;
  margin: 0;
}
.Item {
  list-style: none;
  margin-bottom: 5px;
}
.Page {
  color: tomato;
  text-decoration: none;
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 22px;
}
.DeActive {
  margin-bottom: 5px;
  font-size: 20px;
  text-decoration: none;
  color: gray;
}
.TitleContainer {
  display: flex;
  align-items: center;
  margin: 0 auto;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.Title {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 32px;
}
