.Header {
  display: flex;
  width: 100vw;
  color: grey;
  background-color: burlywood;
  margin: 0;
  margin-bottom: 30px;
}
.Navigation {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.NavLink {
  text-decoration: none;
  color: grey;
  font-size: 18px;
  font-weight: 500;

  transition: color 250 ms cubic-bezier(0.4, 0, 0.2, 1);
}
.NavLink:hover,
.NavLink:focus {
  color: tomato;
}
.List {
  padding: 0;
  margin: 0;
}
.Item {
  list-style: none;
}
.Page {
  padding: 0;
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 22px;
}
.Login {
  padding: 0;
  margin: 0;
  /* margin-bottom: 5px; */
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 18px;
}
.Auth {
  padding: 0;
  margin: 0;
  /* margin-bottom: 5px; */
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 18px;
}
.TitleContainer {
  display: flex;
  align-items: center;
  margin-left: 530px;
  margin-right: auto;
}
.Title {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 32px;
}
.HeaderBtn {
  margin-top: 10px;
  padding: 7px 4px;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
  color: aliceblue;
  background-color: tomato;
  border: none;
  border-radius: 5px;

  transition-property: color, background-color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.HeaderBtn:hover {
  background: transparent;
  color: tomato;
  border: 1px solid tomato;
}
