.List {
  padding: 0;
}
.contactListItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: brown;
}
.contactListBtn {
  color: brown;
  background: aqua;
  border: 1px solid brown;
  border-radius: 5px;
  width: 100px;
  height: 30px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
  transition-property: color, background-color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contactListBtn:hover {
  background: transparent;
  color: teal;
  border-color: aqua;
}
